# dbt artifacts
target/
dbt_packages/
dbt_internal_packages/
fs_internal_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
**/*.duckdb
**/*.duckdb.wal

# Local env
.env

# DuckDB files
*.db
*.db.wal

# VS Code
.vscode/

# Python artifacts
__pycache__/
*.pyc

# Cloned dependency source code
dbt-mcp/